body {
    font-family: 'Arial', sans-serif;
    background-image: url(gambar/gbr4.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    font-weight: bold;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    color: #3498db;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

.logo {
    max-width: 20%;
    height: auto;
    margin-bottom: 20px;
}