body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}

.data-container {
    flex: 1;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:#038b02;
    color: #fff;
}

#tambahDataBtn {
    background-color:  #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 85%;
}
#aksi-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#update-btn {
    background-color: #ffb700;
    color: white;
    padding: 8px; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
}